.btn
  height: 4rem
  width: 10rem
  border-radius: 2rem
  font-weight: bold
  font-size: 1.4rem

  &__contained
    color: $primary-color
    background-color: $secondary-color

  &__outlined
    color: $tertiary-color
    border: 1px solid $tertiary-color
    background-color: transparent
