.slider
  @include rounded
  background-color: $tertiary-color

  display: flex

.slide
  display: flex
  flex-direction: column
  align-items: center
  // justify-content: center

.testimonial

  &__header
  &__text
  &__author
  &__photo
    height: 5rem
    width: 5rem
    border-radius: 50%
  &__name
  &__location
